<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.dao.memberMapper">

	<insert id="memberInsert" parameterType="java.util.HashMap">
		INSERT INTO tcm_member (
			user_id,
			user_pw,
			user_name,
			user_email,
			user_zipcode,
			user_address1,
			user_address2
		)VALUES (
			#{user_id},
			#{user_pw},
			#{user_name},
			#{user_email},
			#{user_zipcode},
			#{user_address1},
			#{user_address2}
		)
	</insert>
	
	<update id="memberUpdate" parameterType="java.util.HashMap">
		UPDATE tcm_member SET  
			user_pw = #{user_pw},
			user_name = #{user_name},
			user_email = #{user_email},
			user_zipcode = #{user_zipcode},
			user_address1 = #{user_address1},
			user_address2 = #{user_address2}
		WHERE user_id = #{user_id}
	</update>
	
</mapper>